// Your entrypoint for including sass files from Carbon
$css--font-face: true;
$css--helpers: true;
$css--body: true;
$css--use-layer: true;
$css--reset: true;
$css--default-type: true;
$css--plex: true;

@use "@carbon/styles/scss/grid";
@use "@carbon/styles/scss/grid/flexbox";

@use "@carbon/styles";
